<div id="home">
  <div class="row flex-nowrap justify-content-between align-items-center">
    <div class="col-6 pt-1">
      <h2 class="blog-post-title">Articles</h2>
    </div>
    <div class="col-6 d-flex justify-content-end align-items-center">
      <a class="btn btn-sm btn-outline-secondary text-muted" id="new_articles">SCRAPE ARTICLES</a>
      <a class="btn btn-sm btn-outline-secondary text-muted" id="clr_articles">CLEAR ARTICLES</a>
    </div>
  </div>
  <hr>
  <!--List of article-->
  <ul id="saved_articles-list" class="list-group">
    
  </ul>

</div>
</div>